{% extends 'base.html' %}
{% block con %}

    <h1><b>게시글 생성</b></h1>

    <form method="post">
        {% csrf_token %}
        <input class="form-control mt-5" name="sub" placeholder="INPUT SUBJECT">
        <input class="form-control mt-4 mb-4" value="{{ user }}" disabled>
        <textarea class="form-control" name="con" style="height: 250px;" placeholder="INPUT CONTENT"></textarea>

        <div class="text-end mt-4">
            <button class="btn btn-dark">생성하기</button>
        </div>
    </form>
{% endblock %}