{% extends 'base.html' %}
{% block con %}

    <h1><b>{{ b.subject }}</b></h1>

 
    <div class="text-end">
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#post">
            ✨
        </button>
    </div>


    <div class="row mt-3">
        <div class="col-sm-9">
            <textarea class="form-control" style="height: 250px;" disabled>{{ b.content }}</textarea>
        </div>
        <div class="col-sm-3">
            <img src="{{ b.writer.getpic }}" width="100%">
            <div class="text-center mt-3">
                <h4>written by <b>{{ b.writer }}</b></h4>
            </div>
            <div class="text-end mt-2">
                {{ b.pubdate|date:'Y년 m월 d일 / H:i' }}
            </div> 
        </div>
    </div>

    <div class="text-end mt-4">
        <a href="{% url 'board:index' %}" class="btn btn-dark">메인</a>
        {%if user in b.likey.all%}
        <a href="{% url 'board:unlikey' b.id%}" class="btn btn-danger">좋아요 취소</a>
        {%else%}
        <a href="{% url 'board:likey' b.id%}" class="btn btn-primary">좋아요</a>
        {%endif%}
        {% if user == b.writer %}
            <a href="#" class="btn btn-secondary">수정</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                삭제
            </button>
        {% endif %}

    </div>

    <!-- 삭제모달창 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">게시글 삭제 알림창</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    정말 삭제하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <a href="{% url 'board:delete' b.id %}" type="button" class="btn btn-danger">삭제하기</a>
                </div>
            </div>
        </div>
    </div>

     <!-- post모달창 -->
    <form method="post" action="{% url 'book:create' %}">
    {%csrf_token%}
     <div class="modal fade" id="post" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">즐겨찾기 추가장</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
              <div class="text-end">
                <input name="impo" type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                <label class="btn btn-outline-warning" for="btn-check-outlined">✨</label><br>
              </div>
              <textarea class="form-control" name="scon" placeholder="사이트를 간략하게 설명해주세요" style="height: 100px;"></textarea>
              <input type="hidden" name='sname' value="[BOARD] {{b.subject}}">
              <input type="hidden" name='surl' value="{{request.path}}">  
        
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">창 닫기</button>
              <button class="btn btn-warning">즐겨찾기 추가</button>
            </div>
          </div>
        </div>
      </div>
    </form>
{% endblock %}